<div>
    <header class="clearfix">
        <div data-ng-include="'/app/layout/topnav.html'"></div>
    </header>
    <div ui-view class="container" style="min-height:500px">
        <div class="text-center">
            <h1>Angular starter template</h1>
            <p class="lead">
                Use this document as a way to quickly start any new project.<br>
                All you get is this text and a mostly barebones HTML document.
            </p>
        </div>
    </div>
    <!-- /.container -->
    <!--  <section>
        <div ui-view class="shuffle-animation">
            <h3>Central frame</h3>
        </div>
    </section>-->
   
        <div data-ng-include="'/app/layout/footer.html'"></div>
    
</div>
