<div class="container">
    <div class="col-sm-4">

        <!-- PAGE HEADER -->
        <div class="page-header">
            <h1>Sign Up</h1>
        </div>

        <!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
        <form name="userForm" ng-submit="submitForm()" novalidate>

            <div class="alert alert-success" ng-hide="accountCreated">Account created successfully.</div>
            <div class="alert alert-error" ng-hide="accountExists">Account Already Exists.</div>

            <!-- USERNAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && (userForm.username.$dirty || submitted)}">
                <label>Username</label>
                <input type="text" name="username" class="form-control" ng-model="user.UserName" placeholder="Your Username" ng-minlength="3" ng-maxlength="8" ng-required="true">
                <p ng-show="userForm.username.$error.required && (userForm.username.$dirty || submitted)" class="help-block">You username is required.</p>
                <p ng-show="userForm.username.$error.minlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too short.</p>
                <p ng-show="userForm.username.$error.maxlength && (userForm.username.$dirty || submitted)" class="help-block">Username is too long.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && (userForm.email.$dirty || submitted)}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.EmailAddress" placeholder="Your Email Address" ng-required="true">
                <p ng-show="userForm.email.$error.required && (userForm.email.$dirty || submitted)" class="help-block">Email is required.</p>
                <p ng-show="userForm.email.$error.email && (userForm.email.$dirty || submitted)" class="help-block">Enter a valid email.</p>
            </div>

            <!-- PASSWORD -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
                <label>Password</label>
                <input type="Password" name="password" class="form-control" ng-model="user.Password" placeholder="Your Password" ng-required="true">
                <p ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)" class="help-block">Your password is required.</p>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Create My Account</button>
            </div>
        </form>
    </div>
</div>
